body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 30px;
    color: dodgerblue;
}

.chamada {
    background: rgb(252, 215, 3);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    color: dodgerblue;
    font-size: 35px;
}

p {
    color: black;
    font-size: 20px;
}


.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-videos {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 35px;
}

.videos img {
    opacity: 0.5;
    height: 200px;
}

.videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(252, 215, 3);
}

.categoria-videos h2 {
    color: dodgerblue;
}